body {
    font-family: Arial, sans-serif;
    background-color: #ebe3da;
}

/* Css de la page d'acceuil */
.welcome-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.welcome-screen img {
    width: 100%;
    height: auto;
}

.welcome-text {
    position: absolute;
}

.welcome-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.welcome-text h2 {
    font-size: 2rem;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6D454C;
    text-align: center;
    z-index: 1000;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
    margin: 0 10px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 50px 20px;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
	color: #6D454C;
}

#about {
    margin-top: 150px;
}

#experience {
    margin-top: 50px;
}

#skills {
    margin-top: 50px;
}

#projects {
    margin-top: 50px;
}

#interests {
    margin-top: 50px;
}

#contact {
    margin-top: 50px;
}

/* Css pour le menu */
.menu ul li {
    display: inline;
    margin: 0 0 100 100 px;
    vertical-align: top;
}

.section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Css pour la section à propos de moii */
#about {
    text-align: center;
    padding: 50px 0;
}

#about h2 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

#about p {
    font-size: 18px;
}

#about img {
    margin-top: 20px;
    max-width: 300px;
    width: 100%;
    height: auto;
}

/* Css pour mon parcours */
.timeline {
    position: relative;
    margin-top: 30px;
    padding: 0;
    list-style: none;
	
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
	background-color: #86BBD2;
}

.timeline-marker {
    width: 20px;
    height: 20px;
    background-color: #86BBD2;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;
    position: relative;
    top: 12px;
}

.timeline-content {
    background-color: #86BBD2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.timeline-description {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-basis: 300px;
}

/* Css pour les compétences */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.skill {
    width: calc(17.5% - 20px);
    background-color: #b0c2bd;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.skill-content {
    padding: 20px;
    flex-grow: 1;
}

.skill-content p {
    margin: 0;
    color: black;
}

.skill-image {
    padding: 10px;
    text-align: center;
}

.skills-container .skill:nth-child(even) {
    transform: translateY(50px);
}

.skills-description {
    text-align: center;
    margin-top: 50px;
    position: relative;
}

.skills-description p {
    background-color: #ebe3da;
    border-radius: 8px;
    padding: 20px;
    color: black;
    margin-top: 20px;
}

/* Css pour les projets personnels */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.project {
    width: calc(50% - 20px); 
    background-color: #b0c2bd;
    border-radius: 20px;
    margin-bottom: 20px;
}

.project h3 {
	text-align: center;
    margin-top: 0;
    color: black;
}

.project-image {
    text-align: center;
    margin-bottom: 10px;
}

.project-description p {
	text-align: center;
    margin-bottom: 5px;
    color: black;
}

/* Css pour les centres d'intérêts */
.interests-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.interest {
    width: calc(33.33% - 20px);
    background-color: #b0c2bd;
    border-radius: 20px;
    margin-bottom: 20px;
}

.interest h3 {
    text-align: center;
    margin-top: 0;
    color: black;
}

.interest-image {
    text-align: center;
    margin-bottom: 10px;
}

.interest-description p {
    text-align: center;
    margin-bottom: 5px;
    color: black;
}

/* Css pour la section de contact */
h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    display: flex;
    align-items: center; 
    margin-top: 20px;
}

.contact-info-left img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.contact-info-right p {
    font-size: 18px;
    margin-top: 20px; 
    margin-left: 10px; 
}

